@model Windshield.ViewModels.AccountChangeUserDetailsViewModel

@{
    ViewBag.Title = "Change Password";
}
<h2>Manage Profile</h2>

<div class="row-fluid">
	<div class="span4">
		@Html.Partial("_UserProfilePartial")
	</div>
	<div class="span4">
		@Html.Partial("_UploadPhotoPartial")
	</div>
	<div class="span4">
		@Html.Partial("_ChangePasswordPartial", Model.changePasswordModel)
	</div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}