@model Windshield.Models.GameRating


<div class="text-center alert alert-info padding-lr padding-tb">
	<strong>Elo</strong>
	<p>@Model.rating</p>
	<strong>Times played</strong>
	<p>@Model.timesPlayed</p>
</div>