@model Windshield.Models.IGameRepo
@{
    ViewBag.Title = "Home Page";
}


<div id="Gametablefront">	
	@foreach (var game in Model.GetAllGames())
	{
		<div class="minigamepic"> ActionLink( "About",)</div>		
	}
</div>


<p>besti leikir í geimi</p> 