@model Windshield.Models.IGameRepo
@{
    ViewBag.Title = "Home Page";
}


<div id="container-fluid">	
	@foreach (var game in Model.GetAllGames())
	{
		<div class="mini-game-pic">
			@Html.ActionLink(game.name, "GameDescription", "Home", game, null)
			<img src="/Images/puppy.jpg">
		</div>
	}
</div>
