@model Windshield.Models.IGameRepo
@{
    ViewBag.Title = "Home Page";
}


<div class="span4 offset3">
	<div class="btn-group">
		<button class="btn">All</button>
		<button class="btn">Popular</button>
		<button class="btn">New</button>
	</div>
</div>



<div id="row-fluid">	
	<ul class="thumbnails">
		@foreach (var game in Model.GetAllGames())
		{
		<li class="span3">
			<a href="@Url.Action("GameDescription", "Home", new { name = game.name })">
			<img src="/Images/puppy.jpg" title="@game.name" alt="@game.name">
			</a>
		</li>
		}
	</ul>
</div>
