@{
    ViewBag.Title = "MyGames";
}

<hgroup class="title">
    <h1>Here are some amazing Statistics:</h1>
</hgroup>

<h2>@User.Identity.Name</h2>
    <p>
        
    </p>
        <p>@Html.ActionLink("Contact", "Contact", "Home")</p>


