@model IQueryable<Windshield.Models.GameRating>
<script src="@Url.Content("~/Scripts/GetStatistics.js")" type="text/javascript"></script>



<h2>Here are some amazing Statistics:</h2>

<select id="dropdown" name="dropdown">
	<option value="1" selected="selected">Tic Tac Toe</option>
	<option value="2">Hearts</option>
</select>

<table id="statistics">
		<thead>
			<tr>
				<th>Username</th>
				<th>Elo Rating</th>
				<th>Games Played </th>
			</tr>
		</thead>
	<tbody id="statbody">

	</tbody>

</table>

<script id ="StatsTemplate" type ="text/html">

			<tr class ="statsrow">
				<td id="name"> ${Name}</td>
				<td id="rating"> ${Rating} </td>
				<td id="played"> ${TimesPlayed} </td>
			</tr>

</script>