@model Windshield.Models.GameInstance



<div class="row-fluid">
	@if(Model != null)
	{
	
	<div id="game-wrapper" class="container-fluid span8">
		<div class="row">
			<h2>@Model.theName</h2>
		</div>
		@Html.Partial(Model.theView, Model.theGame)
	</div>
	<div id="chat-wrapper" class="container-fluid span4 visible-desktop">
		@Html.Partial("Chat", Model.id)
	</div>
	}
	else
	{
	<h2>Can't render a game without a game!</h2>
	}
</div>