@model Windshield.Games.TicTacToe.TicTacToe

<style type="text/css">
	table {
		background: #fafafa;
		border: 1px dotted grey;
		}

	td {
		padding: 30px;
		border: 1px dashed lightblue;
		}

</style>

<h2>Tic Tac Toe</h2>

<table id="tictactoe">
	<tbody>
		<tr>
			<td id="cell0">&nbsp;</td>
			<td id="cell1">&nbsp;</td>
			<td id="cell2">&nbsp;</td>
		</tr>
		<tr>
			<td id="cell3">&nbsp;</td>
			<td id="cell4">&nbsp;</td>
			<td id="cell5">&nbsp;</td>
		</tr>
		<tr>
			<td id="cell6">&nbsp;</td>
			<td id="cell7">&nbsp;</td>
			<td id="cell8">&nbsp;</td>
		</tr>
	</tbody>
</table>