@model Windshield.ViewModels.BoardTableViewModel

<div class="row-fluid">
	<h2>@Model.GameName</h2>
</div>

<hr>

<div class="row-fluid">
	@Html.Partial("_BoardTablePartial", Model)
</div>



