@model Windshield.Models.GameInstance

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Play</title>
</head>
<body>
	@if(Model != null)
	 {
		<div id="game">
			 @Html.Partial(Model.theView, Model.theGame)
		</div>

		<div id="chat">
			Chat-placeholder
		</div>
	 
	}
	else
	{
		<h1>Can't render a game without a game!</h1>
	}
</body>
</html>