@model Windshield.Models.GameInstance


<h2>Tic Tac Toe í bili en nafnið er fiskað úr viewmodel</h2>


@if(Model != null)
{
<div class="row-fluid">
	<div id="game" class="span8">
			@Html.Partial(Model.theView, Model.theGame)
	</div>

	<div id="chat" class="span4">
		@Html.Partial("Chat", Model.id)
	</div>
</div>
}
else
{
<h2>Can't render a game without a game!</h2>
}