@model Windshield.Games.TicTacToe.TicTacToe

<table id="tictactoe">
	<tbody>
		<tr>
			<td id="cell1">&nbsp;</td>
			<td id="cell2">&nbsp;</td>
			<td id="cell3">&nbsp;</td>
		</tr>
		<tr>
			<td id="cell4">&nbsp;</td>
			<td id="cell5">&nbsp;</td>
			<td id="cell6">&nbsp;</td>
		</tr>
		<tr>
			<td id="cell7">&nbsp;</td>
			<td id="cell8">&nbsp;</td>
			<td id="cell9">&nbsp;</td>
		</tr>
	</tbody>
</table>