@model Windshield.ViewModels.BoardViewModel

<table id="tic-tac-toe" class="table-bordered">
	<tbody>
		<tr>
			<td id="cell0"></td>
			<td id="cell1"></td>
			<td id="cell2"></td>
		</tr>
		<tr>
			<td id="cell3"></td>
			<td id="cell4"></td>
			<td id="cell5"></td>
		</tr>
		<tr>
			<td id="cell6"></td>
			<td id="cell7"></td>
			<td id="cell8"></td>
		</tr>
	</tbody>
</table>

<div id="winner-dialog-popup alert alert-info">

</div>
<div class="ttt-game-score">
	<div id="GameScore">
		Wins: <span id="GameWins">0</span>
		Draws: <span id="GameDraws">0</span>
		Losses: <span id="GameLoss">0</span>
	</div>
	<input type="button" id="GameRestart" class="btn" value="Restart" />
</div>




<script>
	$(document).ready(function () {
		var group = '@(Model.id)';
		var hub = $.connection.gameHub;
		var currentUser = '@(Context.User.Identity.Name)';
		var players = '@Model.GetPlayers(2)';
		var playerOne = '@Model.GetPlayers(1)[0].UserName';
		
		$("#GameRestart").hide();
		$("#winner-dialog-popup").hide();

		hub.client.Broadcast = function (status) {
			for (var i=0; i<9; i++)
			{
				$("#cell" + i).text(status[i]);
			}

			var statusArray = status.split("|");

			if (currentUser == playerOne) {
				$("#GameWins").text(statusArray[3]);
				$("#GameDraws").text(statusArray[4]);
				$("#GameLoss").text(statusArray[5]);
			}
			else {
				$("#GameWins").text(statusArray[5]);
				$("#GameDraws").text(statusArray[4]);
				$("#GameLoss").text(statusArray[3]);
			}
		};

		hub.client.GameOver = function (winner) {
			if (winner != "") {
				$("#winner-dialog-popup").text(winner + " wins!");
				if (winner == currentUser) {
					$("#GameWins").html(parseInt($("#GameWins").html(), 10) + 1);
				}
				else {
					$("#GameLoss").html(parseInt($("#GameLoss").html(), 10) + 1);
				}
			}
			else {
				$("#winner-dialog-popup").text("It's a draw!");
				$("#GameDraws").html(parseInt($("#GameDraws").html(), 10) + 1);
			}

			$("#tic-tac-toe").hide();
			$("#winner-dialog-popup").show(2);

			setTimeout(function () {
				$("#tic-tac-toe").show();
				$("#winner-dialog-popup").hide();
			}, 3000);

			$("#GameRestart").show();
		}

		$.connection.hub.start().done(function () {
			hub.server.join(group);
			hub.server.startGame(group);
			hub.server.tryAction(group, "checkAI", currentUser);

			$("#tic-tac-toe tr td").click(function () {
				hub.server.tryAction(group, "insert" + this.id, currentUser);
			});

			$("#GameRestart").click(function () {
				hub.server.tryAction(group, "checkAI", currentUser);
	//			setTimeout(function () { hub.server.refresh(group); }, 1250);
				$("#GameRestart").hide();
			});
		});
	});

</script>