@model Windshield.Models.IGameRepo
@{
    ViewBag.Title = "Home Page";
}


<div id="Gametablefront">	
	@foreach (var game in Model.GetAllGames())
	{
		<div class="mini-game-pic">
		@Html.ActionLink(game.name, "GameDescription", "Home", game, null)
		</div>
	}
</div>
