@model Windshield.Models.IGameRepo
@{
    ViewBag.Title = "Home Page";
}


<div id="container-fluid">	
	<ul class="thumbnails fluid">
		@foreach (var game in Model.GetAllGames())
		{
		<li class="span3">
			<a href="@Url.Action("GameDescription", "Home", game.name)">
			<img src="/Images/puppy.jpg" title="@game.name" alt="@game.name">
			</a>
		</li>
		
	  
		}
	</ul>
</div>
