@model Windshield.Models.IGameRepo
@{
    ViewBag.Title = "Home Page";
}


<div class="span4 offset2">
	<div class="btn-group pagination-centered row-fluid" data-toggle="buttons-radio">
		<button type="button" class="btn btn-primary">All</button>
		<button type="button" class="btn btn-primary">Popular</button>
		<button type="button" class="btn btn-primary">New</button>
	</div>
</div>



<div id="row-fluid">	
	<ul class="thumbnails">
		@foreach (var game in Model.GetAllGames())
		{
		<li class="span3">
			<a href="@Url.Action("GameDescription", "Home", game.name)">
			<img src="/Images/puppy.jpg" title="@game.name" alt="@game.name">
			</a>
		</li>
		}
	</ul>
</div>
