@model IQueryable<Windshield.Models.Game>

<div class="row-fluid">
	<div class="span4 offset4">
		<div class="btn-group pagination-centered row-fluid" data-toggle="buttons-radio">
			<button type="button" class="btn btn-primary">All</button>
			<button type="button" class="btn btn-primary">Popular</button>
			<button type="button" class="btn btn-primary">New</button>
		</div>
	</div>
</div>

<hr> <!-- horzontal divider -->

<div class="row-fluid">
	<ul class="thumbnails">
		@foreach (Windshield.Models.Game game in Model)
		{
		<li class="span4">
			<a href="@Url.Action("GameDescription", "Games", new { name = game.name })">
				@Html.Partial("_GameImagePartial", game)
			</a>
		</li>
		}
	</ul>
</div>